<calculator-screen />

<div class="w-full bg-gradient-to-b from-indigo-400 to-indigo-500">
  <div class="flex flex-wrap w-full">
    <calculator-button (onClick)="handleClick($event)">C</calculator-button>
    <calculator-button (onClick)="handleClick($event)">+/-</calculator-button>
    <calculator-button (onClick)="handleClick($event)">%</calculator-button>
    <calculator-button (onClick)="handleClick($event)" isCommand
      >÷</calculator-button
    >
    <calculator-button (onClick)="handleClick($event)">7</calculator-button>
    <calculator-button (onClick)="handleClick($event)">8</calculator-button>
    <calculator-button (onClick)="handleClick($event)">9</calculator-button>
    <calculator-button (onClick)="handleClick($event)" isCommand
      >⨉</calculator-button
    >
    <calculator-button (onClick)="handleClick($event)">4</calculator-button>
    <calculator-button (onClick)="handleClick($event)">5</calculator-button>
    <calculator-button (onClick)="handleClick($event)">6</calculator-button>
    <calculator-button (onClick)="handleClick($event)" isCommand
      >-</calculator-button
    >
    <calculator-button (onClick)="handleClick($event)">1</calculator-button>
    <calculator-button (onClick)="handleClick($event)">2</calculator-button>
    <calculator-button (onClick)="handleClick($event)">3</calculator-button>
    <calculator-button (onClick)="handleClick($event)" isCommand
      >+</calculator-button
    >
    <calculator-button (onClick)="handleClick($event)">0</calculator-button>
    <calculator-button (onClick)="handleClick($event)">.</calculator-button>
    <calculator-button (onClick)="handleClick($event)" isCommand isDoubleSize
      >=</calculator-button
    >
  </div>
</div>
